fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic-settings

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-openai
langchain-groq

sentence-transformers
pymupdf
python-docx
python-multipart
pytesseract
pillow

langdetect
textstat
spacyslack_bolt
